<div id="photo">
    <div class="container">
      <div class="photo-header">
        <h2>Barber</h2>
      </div>
      <div tag="div" class="photo-main" >
        <div class="photo-box" >
            <%= image_tag 'IMG_0526.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0527.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0528.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0526.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0527.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0528.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
      </div> 
    </div>
  </div>