<div id="order">
  <div class="container">
    <div class="order-header">
      <p>お届け先情報</p>
    </div>
    <div class="order-form">
      <%= form_with  url: cart_orders_path(current_cart.id) ,method: :post,local: true do |f| %>
      <%# <%= render 'shared/error_messages', model:@order_info %> 
       <%= render 'shared/error_messages'%>
        <div class="order-form-name">
          <div class="order-form-name-left">
            <%= f.text_field :first_name,placeholder:"Last Name/性" %>
          </div>
          <div class="order-form-name-right">
            <%= f.text_field :last_name,placeholder:"First Name/名前" %>
          </div>
        </div>
        <div class="order-form-name-kana">
          <div class="order-form-name-kana-left">
            <%= f.text_field :first_name_kana,placeholder:"Furigana/セイ" %>
          </div>
          <div class="order-form-name-kana-right">
            <%= f.text_field :last_name_kana,placeholder:"Furigana/メイ" %>
          </div>
        </div>
        <div class="order-form-postal">
          <div class="order-form-postal-box">
            <%= f.text_field :postal_code,placeholder:"郵便番号（ハイフンは入れないでください）" %>
          </div>
        </div>
        <div class="order-form-prefecture">
          <div class="order-form-prefecture-box">
            <%= f.collection_select :prefecture_id,Prefecture.all,:id,:name,{},placeholder:"都道府県" %>
          </div>
        </div>
        <div class="order-form-city">
          <div class="order-form-city-box">
            <%= f.text_field :city,placeholder:"市区町村 (例:新宿高田馬場)" %>
          </div>
        </div>
        <div class="order-form-addresses">
          <div class="order-form-addresses-box">
            <%= f.text_field :addresses,placeholder:"番地 (例:2-3-1)" %>
          </div>
        </div>
        <div class="order-form-building">
          <div class="order-form-building-box">
            <%= f.text_field :building,placeholder:"ビル名 部屋番号 (例:マンション新宿 701)" %>
          </div>
        </div>
        <div class="order-form-phone">
          <div class="order-form-phone-box">
            <%= f.text_field :phone_number,placeholder:"電話番号" %>
          </div>
        </div>
        <div class="order-form-email">
          <div class="order-form-email-box">
            <%= f.text_field :email,placeholder:"メールアドレス" %>
          </div>
        </div>
        <div class="order-form-next">
          <div class="order-form-next-box">
             <%= f.submit "購入確認画面に進む" ,class:"next-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

 