<div id="cart">
  <div class="container">
    <div class="cart-header">
      <h2>Cart</h2>
    </div>
      <div class="cart-box" id="cart-box">
        <% if current_cart.cart_items.present?%>
          <div class="cart-box-left">
            <ul class="cart-box-left-list">
              <%@cart_items.each do |cart_item| %>
                <li class="cart-box-left-list-detail">
                  <div class="cart-box-left-list-detail-left">
                    <div class="cart-box-left-list-detail-left-image">
                      <%= image_tag cart_item.item.images[0] %>
                    </div>
                  </div>
                  <div class="cart-box-left-list-detail-right">
                    <p class="cart-box-left-list-detail-right-name">
                      <%=cart_item.item.name%>
                    </p>
                    <p class="cart-box-left-list-detail-right-price">
                      $<%=cart_item.item.price%>
                    </p>
                    <p class="cart-box-left-list-detail-right-delete" id="delete-cart" data-delete-id="<%=cart_item.item.id%>" >
                      カートから削除
                    </p>
                  </div>
                </li>
              <%end%>
            </ul>
          </div>
          <div class="cart-box-right">
            <div  class="cart-box-right-confirm" id="cart-confirm"><%=link_to '購入へ進む',new_cart_order_path(current_cart.id)%></div>
          </div>
        <%else%>
          <div class="cart-box-nothing">
            <p class="cart-box-nothing-desc">No Item</p>
            <p>↓↓↓</p>
            <p class="cart-box-nothing-link" ><%=link_to ' Go to shop',items_path %></p>
          </div>
        <%end%>
      </div>
  </div>
   <%# loader %>
   <%= render "parts/spin"%>
</div>