<div id="create-item">
  <div class="container">
    <div class="create-item-header">
      <h2>Create Item</h2>
    </div>
    <div class="create-item-form">
      <%= form_with url:items_path, model: @item ,method: :post,local: true do |f| %>
        <div class="create-item-form-image">
          <div class="create-item-form-image-preview" id="image-preview"></div>
          <p class="create-item-form-image-title">Chose Images</p>
          <div class="create-item-form-image-chose" id="input-box">
            <%= f.file_field :images,name:'item[images][]',data: {index:0} ,class:'image-field',id:"image-0-input",style:"display:none;"%>
          </div>
          <label for="image-0-input" id="image-label">
            <i class="fa fa-image fa-3x" id="image-icon" ></i>
          </label>
        </div>
        <div class="create-item-form-name">
          <p class="create-item-form-name-title">Product Name</p>
          <%= f.text_field :name ,class:'create-item-form-name-field'%>
        </div>
        <div class="create-item-form-detail">
          <p class="create-item-form-detail-title">Product Detail</p>
          <%= f.text_area :detail,class:'create-item-form-detail-field' %>
        </div>
        <div class="create-item-form-price">
          <p class="create-item-form-price-title">Price</p>
          <%= f.text_field :price,class:'create-item-form-price-filed' %>
        </div>
        <%= f.submit "Submit" ,class:"sell-btn" %>
      <% end %>
    </div>
  </div>
</div>

 