<div id="photo">
    <div class="container">
      <div class="photo-header">
        <h2>Art</h2>
      </div>
      <div tag="div" class="photo-main" name="img">
        <div class="photo-box" >
            <%= image_tag 'IMG_0533.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0534.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0535.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0536.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0537.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0538.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0539.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0540.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
        <div class="photo-box" >
            <%= image_tag 'IMG_0529.jpg' %>
        </div> 
      </div> 
    </div>
  </div>